

*,
*::before,
*::after{
    box-sizing: border-box ;
    font-family: "helvetica";

}
:root {
    --fw-reg: 300;
    --fw-bold: 3em;
    --clr-light: #3c8cb1;
    --clr-dark: #303030;
    --clr-accent: #58ACFA;
    --fs-body:2rem;
    --fs-h1: 3rem;


}
html{
    scroll-behavior: smooth;
}

body {
    background: var(--clr-accent);
    font-size: var(--fw-reg);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    
}

.main{
    display: grid;
    grid: 'convertor-form '
            'result-div '
            'history';
    grid-auto-flow: dense;
    
}
@media only screen and (min-width: 868px){
    .main {
    grid-template-columns: none;
    grid-template-areas:  
            'convertor-form result-div  '
            'history history';
   max-width: 100%;
   /* justify-content: space-between; */
   /* padding: 20px; */
    }
}

@media only screen and (min-width: 1200px){
    .main {

    display: flex;
    grid-template-columns: none;
    grid-template-areas:  
            'convertor-form result-div history  '
            'convertor-form result-div history  ';
    max-width: 100%;
    justify-content: space-between;
    /* padding: 20px; */
    }
}

div:not(.main) {
    height: 300px;
    width: 100%;
    background-color: var(--clr-light);
    display: block;
    margin: 20px auto;
    max-width: 300px;
    padding: 1rem;
}


button {
    border-radius: 20px;
    border: 1px solid #0f0d0d;
    background-color: var(--clr-accent);
    color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

input, select {

    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


label {
    display: flex;
    font-weight: var(--fw-bold);
    display: block;
    text-align: center;
    font-size: 1.5em;
    transition: width 4s;
    font-weight: var(--fw-bold);
    

}
label, .conv {
    font-size: 1em;
    
}

div.history{
    overflow: scroll;
}




.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


